html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}
#myheader {
        color: Blue;
        text-align: center;
}
body {
        color: White;
        background-color: Black;
}
p {
     text-indent: 60px;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-right: 50px;
     margin left: 50px;
     padding-left: 100px;
}
